
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
         margin: 0;
         background-color: #3a3a3c;
         color: white;
     }
     .navbar {
         display: flex;
         justify-content: space-between;
         align-items: center;
         padding: 20px 40px;
     }
     .navbar .logo {
         display: flex;
         align-items: center;
     }
     .navbar .logo img {
        color: #000000;
        height: 53px;
    
     }
     .navbar .logo span{
        font-family: "Inter", sans-serif;
        font-weight: 600;
        font-size: 1.5em;
        color: #000000;
     }
     .navbar .menu {
         display: flex;
         gap: 20px;
         
     }
     .navbar .menu a {
        font-family: "Inter", sans-serif;
         color: #000000;
         text-decoration: none;
         font-weight: 300;
         font-size: 1.5em;
     }
     .navbar .icons {
         display: flex;
         gap: 30px;
     }
     .navbar .icons a i {
         font-size: 2em;
         color: #000000;
     }
     .content {
         display: flex;
         justify-content: space-around;
         align-items: center;
         padding: 0 40px;
         height: calc(100vh - 150px);
     }
     .content .text {
        width: 382px;
        height: 216px;
     }
     .content .text h1 {
        font-family: "Inter", sans-serif;
        font-weight: bold;
         font-size: 2.5em;
         margin: 0;
     }
     .content .text p {
        font-family: "Inter", sans-serif;
        font-weight: 300;
         font-size: 1.2em;
         margin: 10px 0;
     }

     .content .text strong{
        color:black;
     }
     .content .text button {
         background-color: #e0e0e0;
         color: black;
         border: none;
         padding: 10px 20px;
         font-size: 1em;
         cursor: pointer;
         border-radius: 20px;
     }
     .content .image {
         position: relative;
         top: 10px;
     }
     .content .image img {
         width: 470px;
     }
     .content .colors {
         position: absolute;
         right: 20px;
         top: 60%;
         transform: translateY(-50%);
         display: flex;
         flex-direction: column;
         gap: 20px;
     }
     .content .colors .color {
         width: 30px;
         height: 30px;
         border-radius: 50%;
     }
     .content .colors .color.red {
         background-color: #b33a3a;
     }
     .content .colors .color.pink {
         background-color: #d8a5a5;
     }
     .content .colors .color.green {
         background-color: #4a5a4a;
     }